<div class="container-fluid" style="background-color:black">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand">{{userFullName | titlecase}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="goToLogOut()">Log-Out</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" *ngIf="notificationArray">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" *ngIf="notificationArray.length ; else notShowDelete">
                <div *ngIf="notificationArray.length ; else notShowDelete">
                  <ul *ngFor="let notify of notificationArray">
                    <li>
                      The Todo - " {{notify.todo | titlecase}} " Is Just Edited By {{notify.user | titlecase}} !!!
                    </li>
                  </ul>
                </div>
              </div>
              <ng-template #notShowDelete>
                <div class="modal-body">
                  <ul>
                    <li>
                      No Notification Is Available!!!
                    </li>
                  </ul>
                </div>
              </ng-template>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  <i class="material-icons">close</i>
                </button>
                <button type="button" class="btn btn-primary" *ngIf="notificationArray.length">
                  <i class="material-icons" (click)="onRemove()">delete</i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ul *ngFor="let user of userLists">
              <li>{{user.name}}</li>
            </ul>
            <!-- <a class="dropdown-item" href="#">{{user.name}}</a>
            <a class="dropdown-item" href="#">{{user.fullName}}</a> -->
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item" style="padding: 0 20px; font-size : 1.4em">
          <a class="nav-link p-2" style="color: #fff;" *ngIf="notificationArray">
            <button>
              <i class="far fa-bell" data-toggle="modal"
                data-target="#exampleModal">{{notificationArray.length>0? notificationArray.length : ''}}</i><span
                class="badge badge-light" style="margin: auto;"></span>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <form #todoForm="ngForm">
    <div class="form-group">
      <h1 class="text-center ">Todo App</h1>
      <div class="input-group-prepend">
        <input type="text" #todo (keyup.enter)="addItem()" minlength="5" required class="form-control"
          placeholder="Add Todo" name="todo" [(ngModel)]="newItem">
        <span class="input-group-text" (click)="addItem()">
          <i class="material-icons">add</i></span>
      </div>
    </div>
    <div class="data">
      <ul class="list-unstyled" *ngIf="allTodo">
        <li *ngFor="let todo of allTodo | paginate: { itemsPerPage: 5, currentPage: p }">{{todo.todo | titlecase}}
          <i (click)="delete(todo.todoId)" class="material-icons">delete</i>
          <i (click)="edit(todo.todoId)" class="material-icons">edit</i>
        </li>
      </ul>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </form>
</div>